<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="Basil.Bootstrap.Version" value="3" />
    </appSettings>
    <system.web>
        <compilation debug="true" targetFramework="4.5" />
        <httpRuntime targetFramework="4.5" />

        <pages enableEventValidation="false">
            <controls>
                <add tagPrefix="basil" namespace="Basil.WebControls" assembly="Basil" />
            </controls>
        </pages>
    </system.web>
</configuration>